<div>
  <div>
    <h1>
      CPU Coolers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new CPU Cooler
    </h2>

    <form action="/insert_cpu_cooler_datum" method="post">
      <div>
        <label for="cooler_id_box">
          Cooler
        </label>

        <input type="text" id="cooler_id_box" name="query_cooler_id">
      </div>

      <div>
        <label for="part_type_box">
          Part type
        </label>

        <input type="text" id="part_type_box" name="query_part_type">
      </div>

      <div>
        <label for="brand_box">
          Brand
        </label>

        <input type="text" id="brand_box" name="query_brand">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="item_number_box">
          Item number
        </label>

        <input type="text" id="item_number_box" name="query_item_number">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="fan_size_box">
          Fan size
        </label>

        <input type="text" id="fan_size_box" name="query_fan_size">
      </div>

      <div>
        <label for="fan_count_box">
          Fan count
        </label>

        <input type="text" id="fan_count_box" name="query_fan_count">
      </div>

      <div>
        <label for="tdp_box">
          Tdp
        </label>

        <input type="text" id="tdp_box" name="query_tdp">
      </div>

      <div>
        <label for="air_or_water_box">
          Air or water
        </label>

        <input type="text" id="air_or_water_box" name="query_air_or_water">
      </div>

      <div>
        <label for="max_rpm_box">
          Max rpm
        </label>

        <input type="text" id="max_rpm_box" name="query_max_rpm">
      </div>

      <div>
        <label for="link_box">
          Link
        </label>

        <input type="text" id="link_box" name="query_link">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button>
        Add CPU Cooler
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Brand
        </th>

        <th>
          Name
        </th>

        <th>
          Price
        </th>

        <th>
          Fan size
        </th>

        <th>
          Fan count
        </th>

        <th>
          Tdp
        </th>

        <th>
          Air or water
        </th>


        <th>
          Image
        </th>


      </tr>

      <% @list_of_cpu_cooler_data.each do |a_cpu_cooler_datum| %>
      <tr>

        <td>
          <%= a_cpu_cooler_datum.brand %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.name %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.price %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.fan_size %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.fan_count %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.tdp %>
        </td>

        <td>
          <%= a_cpu_cooler_datum.air_or_water %>
        </td>


        <td>
          <img src="<%= a_cpu_cooler_datum.image %>" width="100" height="65">
        </td>

        <td>
          <a href="/cpu_cooler_data/<%= a_cpu_cooler_datum.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
