<div>
  <div>
    <h1>
      Ssd datum #<%= @the_ssd_datum.id %> details
    </h1>

    <div>
      <div>
        <a href="/ssd_data">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_ssd_datum/<%= @the_ssd_datum.id %>">
          Delete ssd datum
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Storage
      </dt>
      <dd>
        <%= @the_ssd_datum.storage_id %>
      </dd>

      <dt>
        Part type
      </dt>
      <dd>
        <%= @the_ssd_datum.part_type %>
      </dd>

      <dt>
        Brand
      </dt>
      <dd>
        <%= @the_ssd_datum.brand %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_ssd_datum.name %>
      </dd>

      <dt>
        Item number
      </dt>
      <dd>
        <%= @the_ssd_datum.item_number %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_ssd_datum.price %>
      </dd>

      <dt>
        Storage size
      </dt>
      <dd>
        <%= @the_ssd_datum.storage_size %>
      </dd>

      <dt>
        Read speed
      </dt>
      <dd>
        <%= @the_ssd_datum.read_speed %>
      </dd>

      <dt>
        Write speed
      </dt>
      <dd>
        <%= @the_ssd_datum.write_speed %>
      </dd>

      <dt>
        Link
      </dt>
      <dd>
        <%= @the_ssd_datum.link %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_ssd_datum.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ssd_datum.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ssd_datum.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit ssd datum
    </h2>

    <form action="/modify_ssd_datum/<%= @the_ssd_datum.id %>"  method="post" >
      <div>
        <label for="storage_id_box">
          Storage
        </label>

        <input type="text" id="storage_id_box" name="query_storage_id" value="<%= @the_ssd_datum.storage_id %>">
      </div>

      <div>
        <label for="part_type_box">
          Part type
        </label>

        <input type="text" id="part_type_box" name="query_part_type" value="<%= @the_ssd_datum.part_type %>">
      </div>

      <div>
        <label for="brand_box">
          Brand
        </label>

        <input type="text" id="brand_box" name="query_brand" value="<%= @the_ssd_datum.brand %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_ssd_datum.name %>">
      </div>

      <div>
        <label for="item_number_box">
          Item number
        </label>

        <input type="text" id="item_number_box" name="query_item_number" value="<%= @the_ssd_datum.item_number %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_ssd_datum.price %>">
      </div>

      <div>
        <label for="storage_size_box">
          Storage size
        </label>

        <input type="text" id="storage_size_box" name="query_storage_size" value="<%= @the_ssd_datum.storage_size %>">
      </div>

      <div>
        <label for="read_speed_box">
          Read speed
        </label>

        <input type="text" id="read_speed_box" name="query_read_speed" value="<%= @the_ssd_datum.read_speed %>">
      </div>

      <div>
        <label for="write_speed_box">
          Write speed
        </label>

        <input type="text" id="write_speed_box" name="query_write_speed" value="<%= @the_ssd_datum.write_speed %>">
      </div>

      <div>
        <label for="link_box">
          Link
        </label>

        <input type="text" id="link_box" name="query_link" value="<%= @the_ssd_datum.link %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_ssd_datum.image %>">
      </div>

      <button>
        Update ssd datum
      </button>
    </form>
  </div>
</div>

<hr>
